<html>
    <head>
        <title>Stuff</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5">
            <h1>WA State</h1>
            <img src='data:image/png;base64,{{wa_png}}'>
            {{ wa_tail | safe }}
        </div>
        <div class="container mt-5 mb-5">
            <h1>King County</h1>
            <img src='data:image/png;base64,{{king_png}}'>
            {{ king_tail | safe }}
        </div>
    </body>
</html>